{% extends 'base.html.jinja' %}

{% block title%}
{{ super() }} - ­º­¶
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
    body {
        background-color:white;
    }
</style>
{% endblock %}


{% block main%}
<h1>³o¬O­¶</h1>
{% endblock %}